<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加管理员 - 管理员管理 - H-ui.admin v3.1</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
			<div class="formControls col-xs-8 col-sm-9" >
				<input type="text" class="input-text" autocomplete="off" value="" placeholder="用户名" id="name" name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="password" name="password">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off"  placeholder="确认新密码" id="password2" name="password2">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="sex" type="radio" id="sex-1" value='1'>
					<label for="sex-1">男</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-21" name="sex" value='2'>
					<label for="sex-2">女</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-22" name="sex" value='0'>
					<label for="sex-2">未知</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="phone" name="phone">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="@" name="email" id="email" value="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				{foreach $title as $key => $value}

					<input type="checkbox" name="fruit" value="{$key}"/>    {$value['title']}  
					{if ($key+1) % 4 == 0}
						<br/>
					{/if}
				<!-- <span class="select-box" style="width:150px;"> -->
					<!-- <input type="checkbox" name="fruit" value="1"/>    朋友圈管理  
			        <input type="checkbox" name="fruit" value="2"/>    轮播图管理    
			        <input type="checkbox" name="fruit" value="3"/>    音乐管理  
			        <input type="checkbox" name="fruit" value="4"/>    歌单管理  <br/>
			        <input type="checkbox" name="fruit" value="5"/>  MV管理  
			        <input type="checkbox" name="fruit" value="6"/>  会员管理  
			        <input type="checkbox" name="fruit" value="7"/>  通知管理  
			        <input type="checkbox" name="fruit" value="8"/>  管理员管理  
			        <input type="checkbox" name="fruit" value="9"/>  系统管理   -->
				<!-- </span>  -->
				{/foreach}
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="" cols="" rows="" class="textarea" id='beizhu' placeholder="说点什么...100个字符以内" dragonfly="true"  ></textarea>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" id="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/admin/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script> 

<script type="text/javascript">
	$("#submit").click(function(){
		var name = $('#name').val();
		var pwd = $('#password').val();
		var pwd1 = $('#password2').val();
		var sex = $('input:radio:checked').val();
		var phone = $('#phone').val();
		var email = $('#email').val();
		var duoxuan = '';
		$("input:checkbox[name='fruit']:checked").each(function() {
			duoxuan += $(this).val() + ",";
		});
		var beizhu = $('#beizhu').val();
		// if(name == '' || pwd == '' || pwd1 == '' || sex == '' || phone == '' || email == '' || duoxuan == '' || beizhu == ''){
		// 	alert('请填入所有项');
		// 	return false;
		// }
	
		$.ajax({
			data:{name:name,pwd:pwd,pwd1:pwd1,sex:sex,phone:phone,email:email,duoxuan:duoxuan,beizhu:beizhu},
			url:'/admin/admin/insert',
			type:'post',
			async:false,
			success:success
		});
		return false;

		function success(data){
			console.log(data);
			var obj = JSON.parse(data);
			if(obj.state == 1){
				alert('密码不一致');
				return false;
			}else if(obj.state == 2){
				alert('数据不符合要求');
				return false;
			}else if(obj.state == 3){
				alert('成功');
				close();
			}
		}
	});
</script>
</body>
</html>