<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>音乐类型</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	音乐管理
	<span class="c-gray en">&gt;</span>
	类型回收站
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<a href="javascript:;" id='piliang' class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量恢复</a>
		</span>
		<span class="r">共有数据：<strong  id='shuj'></strong> 条</span>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25"></th>
					<th width="150">ID</th>
					<th width="150">风格名称</th>
					<th>风格下的歌曲ID</th>
					<th width="150">创建时间</th>
					<th width="150">操作</th>
				</tr>
			</thead>
			<tbody id="tbody">
				
			</tbody>
		</table>
		<!-- <div id="page" style="text-align: center;margin-top: 20px;">
			<a class='href' href="" style="margin-right: 20px; ">首页</a>
			<a class='href' href="" style="margin-right: 20px; ">上一页</a>
			<a class='href' href="" style="margin-right: 20px; ">下一页</a>
			<a class='href' href="" style="margin-right: 20px; ">尾页</a>
		</div> -->
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
	$(function(){
		$.ajax({
			url:'/admin/product/selectoutfengge',
			success:success,
			type:'post'
		});
		function success(data)
		{
			var obj = JSON.parse(data);
			console.log(obj);
			$('#shuj').html(obj.num);
			$('tbody').html('');
			for(var i=0;i<obj.data.length;i++){
				// tr
				var tr = $("<tr class='text-c'></tr>");			
				var shuju = $("<td><input name='checkname' type='checkbox' value='"+obj.data[i].id+"'></td><td>"+obj.data[i].id+"</td><td class='text-l'>"+obj.data[i].style+"</td><td>"+obj.data[i].songid+"</td><td>"+obj.data[i].create_time+"</td>");

				//操作框的td
				var td = $("<td class='f-14 product-brand-manage'></td>");
				// 编辑按钮
				var b = $("<a style='text-decoration:none' onClick=\"admin_edit('编辑','/admin/product/xiugai','"+obj.data[i].id+"')\" href='javascript:;' title='编辑''><i class='Hui-iconfont'>&#xe6df;</i></a>  &nbsp;&nbsp;");
				// 删除按钮
				var c = $("<a style='text-decoration:none' class='ml-5' href='javascript:;' title='恢复'><i class='Hui-iconfont'>&#xe6e2;</i></a>");

				$('#tbody').append(tr);
				tr.append(shuju);
				tr.append(td);
				td.append(b);
				td.append(c);

				c.click(function(){
					var id = $(this).parent().parent().children().eq(0).children().eq(0).val();
					$.ajax({
						data:{id:id},
						url:'/admin/product/deletefengge1234',
						type:'post',
						success:success12
					});
					function success12(data)
					{
						var obj = JSON.parse(data);
						if(obj.states ==1){
							alert('恢复成功,但请刷新页面显示');
							var a = $('#shuj').html();
							$('#shuj').html(a-1);
						}else{
							alert('id为'+obj.states+'的父目录，已经被删除，不能恢复！');
						}
					}

				});

				function dengji(a)
				{
					return "<b>"+a+"</b>";
				}
			}			
		}

	});




//批量删除
$('#piliang').click(function(){
	// var a = $(":checkbox").checked;
	text = $("input:checkbox[name='checkname']:checked").map(function(index,elem) {
        return $(elem).val();
    }).get().join(',');
	if(text == ''){
		alert('请选中要恢复的项');
		return false;
	}

	//将选中的项的id传到PHP
	$.ajax({
		data:{id:text},
		type:'post',
		url:'/admin/product/deletefengge1234',
		success:success1
	});

	function success1(data)
	{
		var obj = JSON.parse(data);
		if(obj.states ==1){
			alert('恢复成功,刷新页面显示');
			//清除当前一行
			text1 = $("input:checkbox[name='checkname']:checked").map(function(index,elem) {
		        return $(elem).parent().parent().remove();
		    });
		}else{
			alert('id为'+obj.states+'的父目录，已经被删除，不能恢复！其余项已经恢复');
		}
	}

});

/*风格-编辑*/
function admin_edit(title,url,id,w,h){
	if (title == null || title == '') {
		title=false;
	};
	if (url == null || url == '') {
		url="404.html";
	};
	if (w == null || w == '') {
		w=800;
	};
	if (h == null || h == '') {
		h=($(window).height() - 50);
	};
	layer.open({
		type: 2,
		area: [w+'px', h +'px'],
		fix: false, //不固定
		maxmin: true,
		shade:0.4,
		title: title,
		content: url+'?id='+id
	});
}
</script>
</body>
</html>