<aside class="bg-black dk nav-xs aside hidden-print" id="nav">          
  <section class="vbox">
    <section class="w-f-md scrollable">
      <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
        


        <!-- nav -->                 
        <nav class="nav-primary hidden-xs">
          <ul class="nav bg clearfix">
            <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
              Discover
            </li>
            <li>
              <a onclick="index1(this)">
                <i class="icon-disc icon text-success"></i>
                <span class="font-bold">首页</span>
              </a>
            </li>
            <li>
              <a onclick="genres(this)">
                <i class="icon-music-tone-alt icon text-info"></i>
                <span class="font-bold">歌曲分类</span>
              </a>
            </li>
            <li>
              <a onclick="events(this)">
                <i class="icon-drawer icon text-primary-lter"></i>
                <!-- <b class="badge bg-primary pull-right">6</b> -->
                <span class="font-bold">朋友</span>
              </a>
            </li>
            <li>
              <a onclick="listen(this)">
                <i class="icon-list icon  text-info-dker"></i>
                <span class="font-bold">我的歌曲</span>
              </a>
            </li>
            <li>
              <a onclick="videoMv(this)">
                <i class="icon-social-youtube icon  text-primary"></i>
                <span class="font-bold">MV</span>
              </a>
            </li>
            <li class="m-b hidden-nav-xs"></li>
          </ul>
         
        </nav>
        <!-- / nav -->
      </div>
    </section>
    
    <footer class="footer hidden-xs no-padder text-center-nav-xs">
      <div class="bg hidden-xs ">
          <div class="dropdown dropup wrapper-sm clearfix">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="thumb-sm avatar pull-left m-l-xs" id="jp_container_N">                        
                <img src="/images/a3.png" class="dker" alt="..." id="singerPic">
              </span>
              <span class="hidden-nav-xs clear">
                <span class="block m-l">
                  <strong class="font-bold text-lt">John.Smith</strong> 
                  <b class="caret"></b>
                </span>
                <span class="text-muted text-xs block m-l">Art Director</span>
              </span>
            </a>
            
          </div>
        </div>            
      </footer>
  </section>
</aside>